.post {
  // margin-bottom: 2rem;
  // padding: 1rem;
  // border-width: 1px;
  // border-style: solid;
  border-color: darkgray;
  // border-top: 1px solid darkgray;
  cursor: default;
  display: flex;
  flex-direction: column;

  &:hover {
    // border: 1px solid #26c6da;
  }
  p,
  h3 {
    margin-top: 0;
  }
  em {
    text-align: left;
    // display: block;
    // float: right;
  }
}
