.post {
  border-color: darkgray;
  // border-top: 1px solid darkgray;
  cursor: default;
  display: flex;
  flex-direction: column;

  &:hover {
  }
  p,
  h3 {
    margin-top: 0;
  }

  em {
    text-align: left;
  }
}

h6.date {
  margin-top: 0;
}
